@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  text-align: center;
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

li img {
  max-width: 5rem;
  margin-left: 1.5em;
  margin-bottom: 1.5rem;
}

a {
  background-color: #444;
  color: #fff;
  padding: .5rem 1rem;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  margin: 1.5rem;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

section {
  background-color: #ccc;
  margin-top: 0;
  padding: .5rem;
}

hgroup {
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 16rem;
  flex-grow: 1;
}

p {
  max-width: 24em;
  margin: 1.5em;
  margin-left: 0;
}

ul {
  padding: 0;
}
