@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  text-align: center;
  padding: 1rem;
}

li img {
  max-width: 5rem;
}

a {
  background-color: #444;
  color: #fff;
  padding: 1rem;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

li {
  list-style-type: none;
}

section {
  background-color: #c9c9c9;
}

ul {
  display: flex;
  flex-direction: row;
}
